/*
!.gitignore

!/config/
!/config/**

!/defaultconfigs/
!/defaultconfigs/**

!/journeymap/
!/journeymap/**

!/mods/
!/mods/**

!/saves/
!/saves/

/saves/mundo_teste/playerdata
/saves/mundo_teste/advancements